	<div class="layout-footer">
		<div class="layout-footer-main">
			<div class="container">

				<div class="footer-links d-none d-md-block">
					<% ['rss', 'twitter', 'github', 'telegram','douban','instagram','qq','weibo','weixin'].forEach((item) => { %>
					<% if (site.customConfig[item]) { %>
					<span class="footer-links-item">
						<a href="<%= site.customConfig[item] %>" target="_blank">
							<i class="fa fa-<%= item %>" aria-hidden="true"></i>
						</a>
					</span>
					<% } %>
					<% }) %>
				</div>

				<div class="footer-copy">
					<% if (site.customConfig.copy) { %>
					© <a href="<%= themeConfig.domain %>" title="<%= themeConfig.siteName %>"><%= themeConfig.siteName %></a> . 
					<% } %>
					<%- themeConfig.footerInfo %>
				</div>

			</div>
		</div>
	</div>

	<script type="text/javascript" src='<%= themeConfig.domain %>/media/scripts/main.js'></script>
	<script type="text/javascript" src='<%= themeConfig.domain %>/media/scripts/swiper.js'></script>
	<script type="text/javascript" src='<%= themeConfig.domain %>/media/scripts/swiper.min.js'></script>